.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f73d7d;
    color: #fff;
}

.navbar h1 {
    font-weight: 600;
}

.navbar h2 {
    font-weight: 200;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.navbar-list li{
    display: flex;
    list-style-type: none;
    margin: 10px;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
}